{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% if form.instance.pk %}{% trans "Edit Article" %}{% else %}{% trans "New Article" %}{% endif %}{% endblock %}

{% block content %}
    <h1>{% if form.instance.pk %}{% trans "Edit Article" %}{% else %}{% trans "New Article" %}{% endif %}</h1>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="title" class="form-control" placeholder="{% trans 'Enter title' %}" value="{{ form.title.value|default_if_none:'' }}">
            {% if form.title.errors %}
                <div class="invalid-feedback">
                    {{ form.title.errors }}
                </div>
            {% endif %}
        </div>
        <div class="mb-3">
            <textarea name="content" class="form-control" rows="5" placeholder="{% trans 'Enter content' %}">{{ form.content.value|default_if_none:'' }}</textarea>
            {% if form.content.errors %}
                <div class="invalid-feedback">
                    {{ form.content.errors }}
                </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-outline-primary">{% trans "Save" %}</button>
    </form>
    <a href="{% url 'main:home' %}" class="btn btn-outline-secondary mt-2">{% trans "Cancel" %}</a>
{% endblock %}
